<div class="list-group mb-3">
  <a routerLink="/doctors" class="list-group-item" routerLinkActive="active">
    <i class="fa fa-user-md fa-fw" aria-hidden="true"></i>
    Doktori
  </a>
  <a routerLink="/patients" class="list-group-item" routerLinkActive="active">
    <i class="fa fa-user fa-fw" aria-hidden="true"></i>
    Pacijenti
  </a>
  <a routerLink="/bookings" class="list-group-item" routerLinkActive="active">
    <i class="fa fa-list-alt fa-fw" aria-hidden="true"></i>
    Pregledi
  </a>
</div>
