<div class="card mb-3">
  <div *ngIf="successMessage">
    <div class="alert alert-success" role="alert">
      Uspješno ste dodali novi pregled.
    </div>
  </div>
  <div class="card-body">
    <form #f="ngForm" (submit)="newBooking(f)" autocomplete="off">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-form-label">Ime doktora</label>
            <select class="form-control" name="selected_doctor" ngModel #selected_doctor="ngModel" required>
              <option *ngFor="let doctor of doctors$ | async" value="{{doctor.id}}">{{doctor.first_name}} {{doctor.last_name}}</option>
            </select>
            <div class="text-danger" *ngIf="selected_doctor.errors && selected_doctor.touched">
              <div *ngIf="selected_doctor.errors['required']">
                Doktor je obavezan.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="col-form-label">Datum</label>
              <input type="date" class="form-control" name="date" ngModel #date="ngModel" placeholder="dd/mm/yyyy" required>
              <div class="text-danger" *ngIf="date.invalid && (date.dirty || date.touched)">
                <div *ngIf="date.errors['required']">
                  Datum pregleda je obavezan.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="col-form-label">Vrijeme</label>
              <input type="time" class="form-control" name="time" ngModel #time="ngModel" placeholder="hh:mm" required>
              <div class="text-danger" *ngIf="time.invalid && (time.dirty || time.touched)">
                <div *ngIf="time.errors['required']">
                  Vrijeme pregleda je obavezno.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label">Dodatne informacije <em class="text-secondary">(neobavezno)</em></label>
            <textarea class="form-control" name="description" ngModel rows="3"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <label class="col-form-label">Ime pacijenta</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Traži pacijenta..." name="patient_name" ngModel #patient_name="ngModel" (input)="onType(f.controls['patient_name']?.value, f.controls['selected_doctor']?.value)" required>
            <span class="input-group-btn">
              <button class="btn btn-danger" type="button">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </span>
          </div>
          <div class="text-danger" *ngIf="patient_name.invalid && (patient_name.dirty || patient_name.touched)">
            <div *ngIf="patient_name.errors['required']">
              Pacijent je obavezan.
            </div>
          </div>
          <table class="table table-hover table-responsive" *ngIf="(patients$ | async)?.length > 0">
            <thead>
            <tr>
              <th>#</th>
              <th>Ime</th>
              <th>Prezime</th>
              <th>Adresa</th>
              <th>Grad</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let patient of patients$ | async">
              <th scope="row">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="{{patient.id}}" name="selected_patient" ngModel checked>
                  </label>
                </div>
              </th>
              <td>{{patient.first_name}}</td>
              <td>{{patient.last_name}}</td>
              <td>{{patient.address}}</td>
              <td>{{patient.city}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button class="btn btn-danger mt-3" [disabled]="!f.valid || lockSubmit">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        Potvrdi
      </button>
    </form>
  </div>
</div>
